@import 'reset.sass'
@import 'palette.sass'
@import 'fonts.sass'

h1
  font-size: 48px

h2
  font-size: 32px

h3
  font-size: 24px




@import 'DailyView.sass'
@import 'Header.sass'
@import 'Icons.sass'
