@import "https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Shadows+Into+Light"

$font-hand: 'Shadows Into Light', cursive
$font-sans: 'Open Sans', Arial, sans-serif
$font-serif: 'Merriweather', serif
