.Header
  display: flex
  align-items: stretch
  position: fixed
  top: 0px

  height: 70px
  width: 100vw
  background-color: white
  border-bottom: 1px solid black
  box-shadow: 0px 0px 32px -7px $color-darkgray
  font-family: $font-hand
  color: black

  h1
    margin: 0px 20px 0px 10px

  .date
    display: flex
    justify-content: center
    align-items: baseline
    margin: auto

  .back-arrow-box
    display: flex
    align-items: center
    height: 100%
    cursor: pointer
    margin-left: 15px
  .back-arrow-box:hover
    filter: brightness(75%)
