@import "https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Shadows+Into+Light";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

button {
  background-color: white;
  color: #707070;
  padding: 0px 30px;
  font-family: "Shadows Into Light", cursive;
  border: solid black 1px;
  box-shadow: 0px 0px 32px -7px #707070;
  cursor: pointer;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #EFFFEC;
  position: relative;
}

.Router {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Login h3 {
  margin: 5px;
}
.Login input {
  padding: 5px;
  border: 1px solid #707070;
  border-radius: 3px;
  margin: 5px;
  font-size: 24px;
  font-family: "Open Sans", Arial, sans-serif;
}
.Login button {
  padding: 0px 70px;
  margin: 15px 0px 0px 0px;
}
.Login button h1 {
  margin: -10px 0px;
}
.Login .title {
  background-color: white;
  color: #707070;
  margin: 150px 0px 85px 0px;
  padding: 5px 100px;
  font-family: "Shadows Into Light", cursive;
  border: solid black 1px;
  box-shadow: 0px 0px 32px -7px #707070;
}
.Login .login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #E7E7E7;
  font-family: "Open Sans", Arial, sans-serif;
  border: 1px solid #707070;
  border-radius: 3px;
}
.Login .input-boxes > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DailyView {
  display: flex;
  justify-content: space-around;
  background-color: #EFFFEC;
  padding-top: 70px;
  min-height: 100vh;
  min-width: 100vw;
}
.DailyView .times {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  width: 15%;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
}
.DailyView .times .time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  height: 30px;
}
.DailyView .hours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 85%;
  margin: 0px 10px 15px 0px;
}

.MonthlyView {
  padding-top: 70px;
}
.MonthlyView .week {
  display: flex;
}

.Day {
  height: 100px;
  width: 100px;
  background-color: white;
  border: black 1px solid;
  border-radius: 5px;
  margin: 3px;
}

.Hour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 30px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 15px;
}
.Hour input, .Hour p {
  width: 90%;
  margin: auto;
  border-radius: 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  padding: 2px;
}
.Hour input {
  border: 1px solid #707070;
}
.Hour .hidden {
  display: none;
}

.Header {
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0px;
  height: 70px;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 32px -7px #707070;
  font-family: "Shadows Into Light", cursive;
  color: black;
}
.Header h1 {
  margin: 0px 20px 0px 10px;
}
.Header .date {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: auto;
}
.Header .back-arrow-box {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  margin-left: 15px;
}
.Header .back-arrow-box:hover {
  filter: brightness(75%);
}

.BackArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BackArrow div {
  background-color: #707070;
  height: 3px;
  width: 30px;
  margin: 1px;
  border-radius: 2px;
}
.BackArrow .top {
  transform: translate(-7px) translateY(-2px) rotate(-45deg);
  width: 20px;
}
.BackArrow .bottom {
  transform: translate(-7px) translateY(2px) rotate(45deg);
  width: 20px;
}

/*# sourceMappingURL=App.css.map */
