<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Patrick+Hand" rel="stylesheet">

font-family: 'Patrick Hand', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather', serif;